@model List<CasaDeMusica.Models.Instrumento>
@{
    ViewBag.Title = "Listado";
}
<h2>Listado</h2>
<div class="col-1"></div>
<div class="col-10">
    <table class="table table-sm">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">INSTRUMENTO</th>
                <th class="text-center">DESCRIPCION</th>
                <th class="text-center">TIPO</th>
                <th class="text-center">PRECIO</th>
                <th class="text-center">STOCK</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var I in Model)
            {
            <tr>
                <td class="text-center">@I.Nombre</td>
                <td class="text-center">@I.Descripcion</td>
                <td class="text-center">@I.Idtipo</td>
                <td class="text-center">@I.Precio</td>
                <td class="text-center">@I.Stock</td>
                <td class="text-center">
                    <a href="/Instrumentos/Editar?idinstrumento=@I.Idinstrumento" class="btn btn-success">Editar</a>
                    <a href="/Instrumentos/Eliminar?idinstrumento=@I.Idinstrumento" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-1"></div>

